{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'mi-css.css'%}">
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <p>Biblioteca</p>
    <br>
    {% for product in products %}
    <div class='products'>
        <tr>
            <td><img class="image" src='{{ product.image }}'></td>
            <td>{{ product.name }}</td>
            <span>(</span>
            <td>{{ product.stock }}</td>
            <span>en stock )</span>
            <td>{{ product.price }}</td>
            <span> €</span>
        </tr>
    </div>
    {% endfor %}
</body>
</html>