<!-- {% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MI TIENDA</title>
    <link rel="stylesheet" href="{% static 'mi-css.css'%}">
</head>

<body onload="main();">
    <div class="texto">
        <p>LO MEJOR DE LA NOVELA NEGRA</p>
    </div>

    <table style="width:100%">
        <tr>
            <th><img src="{% static "Quirke1.jpg" %}" alt="Quirke 1"></th>
            <th><img src="{% static "Quirke2.jpg" %}" alt="Quirke 2"></th>
            <th><img src="{% static "Quirke3.jpg" %}" alt="Quirke 3"></th>
        </tr>

        <tr>
            <th><img src="{% static "Quirke4.jpg" %}" alt="Quirke 4"></th>
            <th><img src="{% static "Quirke5.jpg" %}" alt="Quirke 5"></th>
            <th><img src="{% static "Quirke6.jpg" %}" alt="Quirke 6"></th>
        </tr>

        <tr>
            <th><img src="{% static "Quirke7.jpg" %}" alt="Quirke 7"></th>
            <th><img src="{% static "Rubia.jpg" %}" alt="Rubia"></th>
            <th><img src="{% static "Lemur.jpg" %}" alt="Lemur"></th>
        </tr>

        <tr>
            <th><img src="{% static "Praga.jpg" %}" alt="Praga"></th>
        </tr>

    </table>
</body> -->

