<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <p>Producto seleccionado</p>
    {% for product in products %}
    <div> class='products'
        <span>{{product.name}}</span>
        <span>{{product.price}}</span>
        <span>{{product.stock}}</span>
    </div>
    {% endfor %}
</body>
</html>