{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>MI TIENDA</title>
    <link rel="stylesheet" href="{% static 'mi-css.css'%}">
</head>

<body onload="main();">
    <div class="texto">
        <p>LO MEJOR DE LA NOVELA NEGRA</p>
    </div>

    <table style="width:100%">
        <tr>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL98546.jpg" alt="Quirke 1"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL90540.jpg" alt="Quirke 2"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL10494.jpg" alt="Quirke 3"></th>
        </tr>

        <tr>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL02581.jpg" alt="Quirke 4"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL13624.jpg" alt="Quirke 5"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL18841.jpg" alt="Quirke 6"></th>
        </tr>

        <tr>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL26334.jpg" alt="Quirke 7"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/AL16922.jpg" alt="Quirke 8"></th>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL98355.jpg" alt="Quirke 9"></th>
        </tr>

        <tr>
            <th><img src="https://static.megustaleer.com/images/libros_200_x/EAL34742.jpg" alt="Quirke 10"></th>
        </tr>

    </table>
</body>